<h1>Lista de Productos en Tiempo Real</h1>
<ul id="productsList">
    {{#each products}}
    <li>
        <div class="product-title">{{title}}</div>
        <div class="product-price">Precio: ${{price}}</div>
        <button onclick="deleteProduct('{{id}}')">Eliminar</button>
    </li>
    {{/each}}
</ul>

<!-- Formulario para agregar un nuevo producto -->
<form id="productForm">
    <input type="text" id="title" placeholder="Título del producto" required>
    <input type="number" id="price" placeholder="Precio del producto" required>
    <button type="submit">Agregar Producto</button>
</form>
<a href="/api/products">products</a>
<a href="/api/carts">Carts</a>
<a href="/">Home</a>